---
layou: layouts/base.njk
title:Projects
permalink: /projects/
---
<h1>Explore my Projects!</h1>
<ul>
    {% for project in projects %}
    <li>
        <h2>{{project.title}}</h2>
        <p>{{project.title}}</p>
        <a href = "{{project.link}}">View project</a>
    </li>
    {% endfor %}
</ul>

